# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Logs & runtime data
backend/attack_log.json

# IDE
.vscode/
.idea/
*.sublime-project

# OS
.DS_Store
Thumbs.db
